.sidebar {
    display: block;
    float: left;
    background-image: linear-gradient(180deg, rgb(39, 16, 28), rgba(251, 249, 249, 0.1));
    border-right:1px solid rgba(251, 249, 249, 0.3);
    height: calc(100vh - 100px);
    padding: 0 20px;
}

.nav-container{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
}
.signup {
    margin-left: 5px;
    Grid-row: 9; 
    margin-left: 0;
    font-size: 1.2rem;  
}



.nav-container a {
    text-decoration: none;
    color:rgb(13, 209, 243);
}

.nav-container-footer a {
    text-decoration: none;
    color: rgb(13, 209, 243);
}

.login {
    margin-top: 30px;
    margin-left: 0;
    Grid-row: 10;
    font-size: 1.2rem;
}

.login i {
    margin-right: 10px;
    color: rgb(13, 209, 243);
}

.signup i {
    margin-right: 10px;
    color: rgb(13, 209, 243);
}

.logout {
    margin-top: 5px;
    Grid-row: 11;
}

.logout button {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 2px 5px;
    cursor: pointer;
    background-color: rgb(13, 209, 243);
}

.logout-email {
    color: #fff;
 }

 @media screen and (max-width: 860px) {
    .sidebar {
        display: none;
     }
    .signup {  
       
        margin-left: 0;
        font-size: 1rem;
    }
    .login {
        margin-top: 2px;
        font-size: 1rem;
    }
    .logout {
        margin-top: 0px;
        font-size: 1rem;
    }
    
 }