.peep-details {
    background: rgba(251, 249, 249, 0.1);
    border:1px solid rgba(251, 249, 249, 0.3);
    border-radius: 4px;
    margin: 25px 70px;;
    padding: 20px;
    position: relative;
}

.peep-details p {
    margin: 0;
    font-size: 1em;
    color: #fff;
}

.peeps {
    height: calc(100vh - 209px);
    overflow: auto;
    position: relative;
    border-radius: 10px;
    margin-left: 70px;
    width: 85%;
    padding-right: 20px;  
}
