footer {
    padding: 1em;
    margin: 0;
    position: relative;
}

.footer p {
    display:flex;
    justify-content: end;
    padding: 0;
    margin: 0 10px;
    color: #fff;
}

@media screen and (min-width: 861px) {
    .auth-footer {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .footer p {
        display: none;
    }
}
    
